elpa/
auto-save-list/
.cache/
transient/
recentf
elpy/
tramp
myinit.el
myinit.org_archive
quelpa/
org/
myinit.el
.lsp-session-v1
history
projectile-bookmarks.*

# OSX leaves these everywhere on SMB shares
._*

# OSX trash
.DS_Store
# Emacs save files
*~
\#*\#
.\#*